* {
    padding: 0;
    margin: 0;
    background-color: darkslategrey;
}
h1 {
    text-align: center;
    font-weight: 700;
    color: darkred;
}

#game {
    width: 400px;
    height: 500px;
    border: solid 1px black;
    margin: auto;
}

#character {
    width: 20px;
    height: 20px;
    background-color: brown;
    border-radius: 50%;
    position: relative;
    top: 440px;
    left: 190px;
    z-index: 100000;

}

.block {
    width: 400px;
    height: 20px;
    background-color: black;
    position: relative;
    top: 100px;
    margin-top: -20px;

}
.hole {
width: 40px;
height: 20px;
background-color: aliceblue;
position: relative;
top: 100px;
margin-top: -20px;
}
